<!-- Repeat Dropdown Popup -->
<div class="repeat-dropdown" id="repeatDropdown" style="display: none">
  <div class="repeat-dropdown__option" data-repeat="daily">Every day</div>
  <div class="repeat-dropdown__option" data-repeat="weekly-sunday">
    Every week on <span class="repeat-dropdown__secondary">Sunday</span>
  </div>
  <div class="repeat-dropdown__option" data-repeat="weekdays">
    Every weekday <span class="repeat-dropdown__secondary">(Mon - Fri)</span>
  </div>
  <div class="repeat-dropdown__option" data-repeat="monthly">
    Every month on <span class="repeat-dropdown__secondary">the 3rd</span>
  </div>
  <div class="repeat-dropdown__option" data-repeat="yearly">
    Every year on <span class="repeat-dropdown__secondary">August 3rd</span>
  </div>
  <div class="repeat-dropdown__option" data-repeat="custom">Custom...</div>
</div>
