<!-- Main Menu View -->
<div id="mainView" class="to-do-bro__view to-do-bro__view--active">
  <div class="to-do-bro__header">
    <h1 class="to-do-bro__title" data-message="todayTitle">Today</h1>
  </div>

  <div class="to-do-bro__action-menu">
    <button class="to-do-bro__action-item" id="addTaskBtn">
      <span class="to-do-bro__action-icon">+</span>
      <span class="to-do-bro__action-text" data-message="addTask"
        >Add task</span
      >
    </button>

    <button class="to-do-bro__action-item" id="addWebsiteBtn">
      <span class="to-do-bro__action-icon">🔗</span>
      <span class="to-do-bro__action-text" data-message="addWebsiteAsTask"
        >Add website as task</span
      >
    </button>
  </div>
</div>
