<!-- Time Picker Modal -->
<div id="timePickerModal" class="time-picker__modal" style="display: none">
  <div class="time-picker__overlay">
    <div class="time-picker__container">
      <div class="time-picker__form">
        <div class="time-picker__field">
          <label class="time-picker__label" data-i18n="timePicker_time"
            >Time</label
          >
          <div class="time-picker__input-wrapper">
            <div class="time-picker__time-container">
              <input
                type="text"
                class="time-picker__time-input"
                id="timeInput"
                value="15:00"
                readonly
              />
              <div
                class="time-picker__dropdown"
                id="timeDropdown"
                style="display: none"
              >
                <div class="time-picker__dropdown-list" id="timeDropdownList">
                  <!-- Time options will be populated by JavaScript -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="time-picker__field">
          <label class="time-picker__label" data-i18n="timePicker_duration"
            >Duration</label
          >
          <div class="time-picker__input-wrapper">
            <div class="time-picker__duration-container">
              <input
                type="text"
                class="time-picker__duration-input"
                id="durationInput"
                value="No duration"
                data-i18n-value="timePicker_noDuration"
                readonly
              />
            </div>
          </div>
        </div>

        <div class="time-picker__field">
          <label class="time-picker__label" data-i18n="timePicker_timezone"
            >Time zone</label
          >
          <div class="time-picker__input-wrapper">
            <select class="time-picker__timezone-select" id="timezoneSelect">
              <option value="floating" data-i18n="timePicker_floatingTime">
                Floating time
              </option>
              <option value="local" data-i18n="timePicker_localTime">
                Local time
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="time-picker__actions">
        <button
          type="button"
          class="time-picker__cancel-btn"
          id="timeCancelBtn"
          data-i18n="cancel"
        >
          Cancel
        </button>
        <button
          type="button"
          class="time-picker__save-btn"
          id="timeSaveBtn"
          data-i18n="save"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
